*~
\#*\#
__pycache__
*.egg-info
*.npz
*.pyc
*.sqlite3
.coverage*
.idea
.ruff_cache
.test_durations
coverage.*
dev
dist
docs/_build
docs/_static
docs/auto_examples
docs/gen_modules
docs/sg_execution_times.rst
env/django.env
env/wud.env
examples/fig
examples/fig_*
htmlcov
logs
# This should be removed when the migrations are stable enough to be pushed to Git.
ptplot/migrations/0*_*.py
pyrefly.txt
ruff.txt
test-results
venv
wud
