*~
\#*\#
__pycache__
*.egg-info
*.npz
*.pyc
*.sqlite3
.coverage*
.idea
coverage.*
dist
docs/_build
docs/_static
docs/auto_examples
docs/gen_modules
docs/sg_execution_times.rst
env/django.env
htmlcov
pylint.txt
test-results
venv
