allure-pytest == 2.16.0
build == 1.5.0
django-coverage-plugin == 3.2.2
django-debug-toolbar == 6.3.0
django-stubs[compatible-mypy] == 6.0.5
lxml == 6.1.1
lxml-stubs == 0.5.1
mypy == 2.1.0
pandas-stubs == 3.0.3.260530
pip-check == 3.2.1
psutil == 7.2.2
pylint == 4.0.5
pylint-django == 2.7.0
pytest == 9.0.3
pytest-cov == 7.1.0
pytest-django == 4.12.0
pytest-html == 4.2.0
pytest-split == 0.11.0
pytest-xdist == 3.8.0
scipy-stubs == 1.17.1.5
setuptools == 82.0.1
tblib == 3.2.2
types-defusedxml == 0.7.0.20260504
types-openpyxl == 3.1.5.20260518
types-python-dateutil == 2.9.0.20260518
