# When updating the versions here,
# please also update them in pyproject.toml.
django == 6.0.2
django-github-sso == 5.0.2
dulwich == 1.1.0
gunicorn == 25.1.0
matplotlib == 3.10.8
numpy == 2.4.2
pandas == 3.0.1
pttools-gw[numbalsoda,performance] == 0.10.0
scipy == 1.17.1
