{% load staticfiles %}
<html>
  <head>
    <title>PTPlot</title>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}});
    </script>
    <script type="text/javascript" async
	    src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS_SVG'></script>
  </head>
  <body>
    <h1>PTPlot</h1>
    
    {% block content %}
    {% endblock %}

    <p><em><a href="https://bitbucket.org/dweir/ptplot">PTPlot</a></em>
      by
      <a href="http://www.helsinki.fi/~weir/">David Weir</a>
      on behalf of the LISA Cosmology Working Group
    </p>
  </body>
</html>
