{% load staticfiles %}
<html>
  <head>
    <title>PTPlot</title>
    <link href="{% static 'ptplot/default.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'ptplot/ptplot.css' %}" rel="stylesheet" type="text/css" media="all" />
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}});
    </script>
    <script type="text/javascript" async
	    src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS_SVG'></script>
    <script type="text/javascript"
	    src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
  </head>
  <body>

    <div id="header-wrapper">
      <div id="header" class="container">
	<div id="logo">
	  <h1><a href="/ptplot/">PTPlot</a></h1>
	</div>
      </div>
    </div>		

    <div id="wrapper">
      <div id="page" class="container">
	<div id="content">
	  {% block content %}
	  {% endblock %}
	</div>
      </div>
    </div>
    
    <div id="footer">
      <h4><em><a href="https://bitbucket.org/dweir/ptplot">PTPlot</a></em>
	by
	<a href="http://www.helsinki.fi/~weir/">David Weir</a>
	on behalf of the LISA Cosmology Working Group.</h4>
      <p>Design based
	on <a href="https://templated.co/joyousness">Joyousness</a>
	by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>,
	under <a href="http://creativecommons.org/licenses/by/3.0/">CC-BY
	</a> license.
      </p>
    </div>
  </body>
</html>
