

{% extends 'ptplot/base.html' %}

{% block content %}

{% if point_list %}

<h3>{{ model.model_name }}</h3>

<p>{{ model.model_description|urlize }}</p>

<p>{{ model.model_notes|urlize }}</p>


<p>General parameters used for plotting:
  $v_\mathrm{w} = {{ model.model_vw }}$,
  $T_* = {{model.model_Tstar }} \, \mathrm{GeV}$ (when all points
  are plotted),
  $g_* = {{model.model_gstar }}$.</p>

<p>Mission profile: <b>{{ MissionProfile_label }}</b>
<!--  ({{ model.model_Senscurve }}) --> <p>

{% if model.model_hasScenarios == True %}

<h4>This model has the following scenarios:</h4>

<ul>
{% for scenario in scenario_list %}
<li>
  {% if scenario.scenario_description %}
    <b>{{scenario.scenario_name}}:</b>
    {{ scenario.scenario_description }}
  {% else %}
    <b>{{scenario.scenario_name}}</b>
  {% endif %}
  [<a href="/ptplot/models/{{ model.id }}/scenarios/{{scenario.scenario_number }}/plot#results">plot scenario</a>]
</li>
{% endfor %}
</ul>

{% endif %}

<h4>Full list of points:</h4>
  
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", initPoints);

  function initPoints(){
      var pointslist = document.getElementById("points-list");
      var pointslink = document.getElementById("points-link");
      pointslink.addEventListener("click", function togglePoints(){
//          window.event.preventDefault();
//          pointslink.classList.toggle('active');
//          pointslist.classList.toggle('active');
	  if(pointslist.style.display == "none") {
	      pointslist.style.display = "block";
              pointslink.innerHTML = '[Hide list of points]';
	  } else {
	      pointslist.style.display = "none";
	      pointslink.innerHTML = '[Show list of points]';
	  }
      });
  };
</script>

<p><a href="#points" id="points-link">[Show list of points]</a>
<div id="points-list" style="display: none">
<ul>
  {% for point in point_list %}
  <li>

    {% if point.point_shortlabel %}
    ({{point.point_shortlabel}}):
    {% endif %}

    {% if point.point_longlabel %}
    [ {{ point.point_longlabel}} ]
    {% endif %}
    
    $\alpha_\theta = {{point.alpha|floatformat:"-4"}}$;
    $\beta/H_* = {{point.BetaoverH|floatformat:"0"}}$;

    {% if point.vw %}
    $v_\mathrm{w} = {{point.vw}}$;
    {% endif %}
    
    {% if point.gstar %}
    $g_* = {{ point.gstar }} $;
    {% endif %}

    {% if point.Tstar %}
    $T_* = {{ point.Tstar|floatformat:"-1" }} \, \mathrm{GeV}$;
    {% endif %}
    
    [<a href="/ptplot/models/{{ model.id }}/{{ point.number }}/plot#results">plot</a>]
</li>
  {% endfor %}
</ul>
</div>
</p>
{% endif %}

<p>[<a href="/ptplot/models/{{ model.id }}/plot#results">plot all points with these parameters</a>]</p>

<a id="results" />
{% block results %}
{% endblock results %}

{% endblock content %}

