

{% extends 'ptplot/model_detail.html' %}

{% block results %}

<h3>Results for scenario: {{ selected_scenario.scenario_name }}</h3>

<p>NB: using
  $v_\mathrm{w} = {{ model.model_vw }}$,
  $T_* = 
  {% if selected_scenario.scenario_Tstar %}
  {{ selected_scenario.scenario_Tstar }}
  {% else %}
  {{model.model_Tstar }}
  {% endif %}
  \, \mathrm{GeV}$,
  $g_* = {{model.model_gstar }}$.</p>


  <img alt="embedded" src="snr"  width="600px"
  height="450px" style="background-color: #dddddd; border: 10px;
  padding: 15px; background-clip: content-box"/>

  <img alt="embedded" src="snr_alphabeta"  width="600px"
  height="450px" style="background-color: #dddddd; border: 10px;
  padding: 15px; background-clip: content-box"/>

{% endblock results %}
