
{% extends 'ptplot/base.html' %}

{% block content %}

{% block results %}
{% endblock results %}

<form action="/ptplot/" method="get">
  <!--    {% csrf_token %}  -->
<table>
{{ form.as_table}}
</table>
    <input type="submit" value="Submit" />
</form>
<!-- <p>This computation assumes a nucleation temperaure $T_* = 100 \,
  \mathrm{GeV}$, and $h = 100$ degrees of freedom at the time of
  transition.</p> -->
<p>Todo:
  <ul>
    <!-- <li>SNR plot</li> -->
    <li>Tidy up backend</li>
    <li>Select transition type</li>
    <li>Align power spectra used for PS plot and SNR plot</li>
    <li>Adjust all parameters</li>
    <!-- <li>Download PDF</li> -->
    <!-- <li>Change sensitivity curve/mission profile</li> -->
    <li>Preselect benchmark points</li>
  </ul>
</p>
  
{% endblock content %}
