
{% extends 'ptplot/base.html' %}



{% block content %}

<h3>Plot a single parameter point</h3>
  
<p>Plot the gravitational wave power spectrum for a single parameter
point, against a given sensitivity curve and calculate the SNR
  for the chosen sensitivity curve and mission profile.</p>



{% block results %}
{% endblock results %}


{% if form.errors %}
<ul>
  {% for key,value in form.errors.items %} 
  <li>{{ key|escape }} : {{ value|escape }}</li>
  {% endfor %}
</ul>
{% endif %}

<form action="/ptplot/single" method="get">
  <!--    {% csrf_token %}  -->

    
  <div class="formbox">
    <div class="mainbox">
      <table>
	<tr>
	  <th><label>{{form.vw.label}}:</label></th>
	  <td>{{form.vw}}</td>
	</tr>
	<tr>
	  <th><label>{{form.alpha.label}}:</label></th>
	  <td>{{form.alpha}}</td>
	</tr>
	<tr>
	  <th><label>{{form.BetaoverH.label}}:</label></th>
	  <td>{{form.BetaoverH}}</td>
	</tr>
	<tr>
	  <th><label>{{form.MissionProfile.label}}:</label></th>
	  <td>{{form.MissionProfile}}</td>
	</tr>
	<tr>
	  <th><label>{{form.Tstar.label}}:</label></th>
	  <td>{{form.Tstar}} GeV</td></tr>
	<tr><th><label>{{form.gstar.label}}:</label></th>
	  <td> {{form.gstar}}</td></tr>
      </table>
    </div><br/>
    <input type="submit" value="Submit" />
  </div>
</form>

{% endblock content %}
