

{% extends 'ptplot/theory_detail.html' %}

{% block results %}

<h4>Results for scenario: {{ selected_scenario.scenario_name }}</h4>

<p>NB: using
  $v_\mathrm{w} = {{ theory.theory_vw }}$,
  $T_* = {{theory.theory_Tstar }} \, \mathrm{GeV}$,
  $g_* = {{theory.theory_gstar }}$.</p>


  <img alt="embedded" src="snr"  width="600px"
  height="450px" style="background-color: #dddddd; border: 10px;
  padding: 15px; background-clip: content-box"/>

  <img alt="embedded" src="snr_alphabeta"  width="600px"
  height="450px" style="background-color: #dddddd; border: 10px;
  padding: 15px; background-clip: content-box"/>

{% endblock results %}
