

{% extends 'ptplot/base.html' %}

{% block content %}

{% if point_list %}

<h4>{{ theory.theory_name }}</h4>

<p>{{ theory.theory_description }}</p>

<ul>
  {% for point in point_list %}
  <li>({{point.point_shortlabel}}): $v_\mathrm{w} = {{point.vw}}$, $\alpha = {{point.alpha}}$, $H/\beta
    = {{point.HoverBeta}}$, $g_* = {{ point.gstar }} $, $T_n =
    {{ point.Tn }} \, \mathrm{GeV}$
    [<a href="{{ theory.id }}/{{ point.id }}/plot">plot</a>]
    [<a href="{{ theory.id }}/{{ point.id }}/edit">edit</a>]
    [<a href="{{ theory.id }}/{{ point.id }}/delete">delete</a>]
</li>
  {% endfor %}
</ul>
{% endif %}

<p>[<a href="{{ theory.id }}/add">add</a>]</p>
<p>[<a href="{{ theory.id }}/plot">plot</a>]</p>

{% endblock content %}
