

{% extends 'ptplot/base.html' %}

{% block content %}

{% if point_list %}

<h4>{{ theory.theory_name }}</h4>

<p>{{ theory.theory_description|urlize }}</p>

<p>{{ theory.theory_notes|urlize }}</p>



{% block results %}
{% endblock results %}

<ul>
  {% for point in point_list %}
  <li>

    {% if point.point_shortlabel %}
    ({{point.point_shortlabel}}):
    {% endif %}

    {% if point.point_longlabel %}
    [ {{ point.point_longlabel}} ]
    {% endif %}
    
    $\alpha = {{point.alpha}}$;
    $\beta/H_* = {{point.BetaoverH}}$;

    {% if point.vw %}
    $v_\mathrm{w} = {{point.vw}}$;
    {% endif %}
    
    {% if point.gstar %}
    $g_* = {{ point.gstar }} $;
    {% endif %}

    {% if point.Tstar %}
    $T_* = {{ point.Tstar }} \, \mathrm{GeV}$;
    {% endif %}
    
    [<a href="/ptplot/theories/{{ theory.id }}/{{ point.id }}/plot">plot</a>]
</li>
  {% endfor %}
</ul>
{% endif %}

<p>General parameters used for plotting:
  $v_\mathrm{w} = {{ theory.theory_vw }}$,
  $T_* = {{theory.theory_Tstar }} \, \mathrm{GeV}$ (when all points
  are plotted),
  $g_* = {{theory.theory_gstar }}$</p>

<p>Sensitivity curve: <b>{{ sensitivity_curve_label }}</b>
  ({{ theory.theory_Senscurve }})<p>

<p>[<a href="/ptplot/theories/{{ theory.id }}/plot">plot all with these parameters</a>]</p>

{% block onepoint %}
{% endblock onepoint %}

{% endblock content %}
