

{% extends 'ptplot/theory_detail.html' %}

{% block results %}
{% endblock results %}

{% block onepoint %}

<h4>Results for point {{ point.point_shortlabel }}:
  {{ point.point_longlabel }}</h4>

  <img alt="embedded" src="ps"  width="600px"
  height="450px" style="background-color: #dddddd; border: 10px;
  padding: 15px; background-clip: content-box"/>

  <img alt="embedded" src="snr"  width="600px"
  height="450px" style="background-color: #dddddd; border: 10px;
  padding: 15px; background-clip: content-box"/>

  <img alt="embedded" src="snr_alphabeta"  width="600px"
  height="450px" style="background-color: #dddddd; border: 10px;
  padding: 15px; background-clip: content-box"/>

{% endblock onepoint %}
