

{% extends 'ptplot/base.html' %}

{% block content %}

{% if point_list %}

<h4>{{ theory.theory_name }}</h4>

<p>{{ theory.theory_description|urlize }}</p>

<p>{{ theory.theory_notes|urlize }}</p>

{% if theory.theory_hasScenarios == True %}

<h4>This theory has the following scenarios:</h4>

<ul>
{% for scenario in scenario_list %}
<li>
  {{scenario.scenario_name}}

  {% if scenario.scenario_description %}
  {{ scenario.scenario_description }}
  {% endif %}
  [<a href="/ptplot/theories/{{ theory.id }}/scenarios/{{scenario.scenario_number }}/plot">plot scenario</a>]
</li>
{% endfor %}
</ul>

{% endif %}

{% block results %}
{% endblock results %}

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", initPoints);

  function initPoints(){
      var pointslist = document.getElementById("points-list");
      var pointslink = document.getElementById("points-link");
      pointslink.addEventListener("click", function togglePoints(){
//          window.event.preventDefault();
//          pointslink.classList.toggle('active');
//          pointslist.classList.toggle('active');
	  if(pointslist.style.display == "none") {
	      pointslist.style.display = "block";
              pointslink.innerHTML = '[Hide list of points]';
	  } else {
	      pointslist.style.display = "none";
	      pointslink.innerHTML = '[Show list of points]';
	  }
      });
  };
</script>

<p><a href="#points" id="points-link">[Show list of points]</a>
<div id="points-list" style="display: none">
<ul>
  {% for point in point_list %}
  <li>

    {% if point.point_shortlabel %}
    ({{point.point_shortlabel}}):
    {% endif %}

    {% if point.point_longlabel %}
    [ {{ point.point_longlabel}} ]
    {% endif %}
    
    $\alpha = {{point.alpha|floatformat:"-4"}}$;
    $\beta/H_* = {{point.BetaoverH|floatformat:"0"}}$;

    {% if point.vw %}
    $v_\mathrm{w} = {{point.vw}}$;
    {% endif %}
    
    {% if point.gstar %}
    $g_* = {{ point.gstar }} $;
    {% endif %}

    {% if point.Tstar %}
    $T_* = {{ point.Tstar|floatformat:"-1" }} \, \mathrm{GeV}$;
    {% endif %}
    
    [<a href="/ptplot/theories/{{ theory.id }}/{{ point.number }}/plot">plot</a>]
</li>
  {% endfor %}
</ul>
</div>
</p>
{% endif %}

<p>General parameters used for plotting:
  $v_\mathrm{w} = {{ theory.theory_vw }}$,
  $T_* = {{theory.theory_Tstar }} \, \mathrm{GeV}$ (when all points
  are plotted),
  $g_* = {{theory.theory_gstar }}$</p>

<p>Sensitivity curve: <b>{{ sensitivity_curve_label }}</b>
  ({{ theory.theory_Senscurve }})<p>

<p>[<a href="/ptplot/theories/{{ theory.id }}/plot">plot all points with these parameters</a>]</p>

{% block onepoint %}
{% endblock onepoint %}

{% endblock content %}
