{% extends "base.html" %}
{% block content %}

{% if model.points %}

<h2>PTPlot: {{ model.name }}</h2>
<p>{{ model.description|urlize }}</p>
<p>{{ model.notes|urlize }}</p>

<p>
  General parameters used for plotting:
  $v_\mathrm{w} = {{ model.vw }}$,
  $T_* = {{ model.T_star }} \, \mathrm{GeV}$ (when all points are plotted),
  $g_* = {{ model.g_star }}$.
</p>

<p>
  Mission profile: <b>{{ model.mission_profile_label }}</b>
  <!--  ({{ model.Senscurve }}) -->
<p>

{% if model.has_scenarios %}
  <h4>This model has the following scenarios:</h4>
  <ul>
    {% for scenario in model.scenarios.all %}
      <li>
        {% if scenario.description %}
          <b>{{ scenario.name }}:</b>
          {{ scenario.description }}
        {% else %}
          <b>{{ scenario.name }}</b>
        {% endif %}
        [<a href="/ptplot/models/{{ model.id }}/scenarios/{{ scenario.number }}/plot#results">plot scenario</a>]
      </li>
    {% endfor %}
  </ul>
{% endif %}

<h4>Full list of points:</h4>

<script type="text/javascript">
  function initPoints(){
    const pointsList = document.getElementById("points-list");
    const pointsLink = document.getElementById("points-link");
    pointsLink.addEventListener("click", function togglePoints(){
      // window.event.preventDefault();
      // pointsLink.classList.toggle("active");
      // pointsList.classList.toggle("active");
      if (pointsList.style.display === "none") {
        pointsList.style.display = "block";
          pointsLink.innerHTML = "[Hide list of points]";
      } else {
        pointsList.style.display = "none";
        pointsLink.innerHTML = "[Show list of points]";
      }
    });
  }
  document.addEventListener("DOMContentLoaded", initPoints);
</script>

<p>
  <a href="#points" id="points-link">[Show list of points]</a>
  <div id="points-list" style="display: none">
    <ul>
      {% for point in model.points.all %}
      <li>
        {% if point.short_label %}
        ({{point.short_label}}):
        {% endif %}

        {% if point.long_label %}
        [ {{ point.long_label}} ]
        {% endif %}

        $\alpha_\theta = {{point.alpha|floatformat:"-4"}}$;
        $\beta/H_* = {{point.beta_over_H|floatformat:"0"}}$;

        {% if point.vw %}
        $v_\mathrm{w} = {{point.vw}}$;
        {% endif %}

        {% if point.g_star %}
        $g_* = {{ point.g_star }} $;
        {% endif %}

        {% if point.T_star %}
        $T_* = {{ point.T_star|floatformat:"-1" }} \, \mathrm{GeV}$;
        {% endif %}

        [<a href="/ptplot/models/{{ model.id }}/{{ point.number }}/plot#results">plot</a>]
    </li>
      {% endfor %}
    </ul>
  </div>
</p>
{% endif %}

<p>[<a href="/ptplot/models/{{ model.id }}/plot#results">plot all points with these parameters</a>]</p>

<a id="results" />
{% block results %}
{% endblock results %}

{% endblock content %}
