{% extends "model_detail.html" %}
{% block results %}

<h4>Results for all points</h4>
Points: {{ model.annotated_labels }}

<p>
  SNR curves are plotted with:
  $v_\text{wall} = {{ model.v_wall }},
  T_* = {{ model.T_star }} \, \text{GeV},
  g_* = {{ model.g_star }}$
</p>

{% if model.huge_alpha %}
  <p>
    <div style="color: red">
      <b>Warning</b>: the reliability of the power spectrum ansatz at these phase transition strengths has not been tested.
    </div>
  </p>
{% endif %}

<img
  alt="embedded"
  class="plot"
  src="{% url "model_snr_ubarf_rstar" model_id=model.id %}{% querystring %}"
/>
<img
  alt="embedded"
  class="plot"
  src="{% url "model_snr_alpha_beta" model_id=model.id %}{% querystring %}"
/>
<img
  alt="embedded"
  class="plot"
  src="{% url "model_snr_histogram" model_id=model.id %}{% querystring %}"
/>
<img
  alt="embedded"
  class="plot"
  src="{% url "model_snr_comparison" model_id=model.id %}{% querystring %}"
/>

{% endblock results %}
