{% extends "base.html" %}
{% block content %}

<h2>PTPlot: Plot a single parameter point</h2>

<p>
  Plot the gravitational wave power spectrum for a single parameter point
  against the LISA noise curve, and
  calculate the SNR for the chosen noise sources and mission duration.
</p>

<p>
  <div style="color: red">
    <b>Note</b>: you are responsible for ensuring that the parameters you enter are self-consistent.
  </div>
</p>

{% block results %}
{% endblock results %}

{% comment %}
{% if form.errors %}
  <ul>
    {% for key,value in form.errors.items %}
      <li>{{ key|escape }} : {{ value|escape }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endcomment %}

<form action="{% url "single" %}" method="get">
  <div class="formbox">
    <div class="mainbox">
      <table>
        {{ form.as_table }}
      </table>
    </div>
    <br>
    <input type="submit" value="Submit">
  </div>
</form>

{% endblock content %}
