# https://getwud.github.io/wud/#/configuration/triggers/docker-compose/
WUD_TRIGGER_DOCKERCOMPOSE_PTPLOT_FILE=/wud/compose/docker-compose.yml
# https://getwud.github.io/wud/#/configuration/triggers/smtp/
WUD_TRIGGER_SMTP_PTPLOT_HOST=
WUD_TRIGGER_SMTP_PTPLOT_PORT=
WUD_TRIGGER_SMTP_PTPLOT_FROM=
WUD_TRIGGER_SMTP_PTPLOT_TO=
# https://getwud.github.io/wud/#/configuration/watchers/
WUD_WATCHER_LOCAL_CRON=
WUD_WATCHER_LOCAL_WATCHBYDEFAULT=false
